pawnstar
*.obj
*.tlog
*.log
*.idb
*.pdb
*.sdf
*.opensdf
*.exe
*.ilk
*.lastbuildstate
*.vspscc
*.vssscc
*.suo
*.o
*.la
*.a
*.cppPreview
*.hPreview
*.opendb
*.iobj
*.ipdb
*.vcxproj.user
*.db
*.dll
debug/
release/
obj/
bin/
x64/
build/
src/generated_data.cpp
generate_constants/gen_constants*
